/**************************************************/
/**               General Style                  **/
/**************************************************/

body, html {
    font-size: 100%;
}

body {
    background: white url("images/background.png") center center;
    padding-top: 70px;
}

h1 {
    text-align: center;
    font-size: 2em;
}

h2 { font-size: 1.5em; }

h3 { font-size: 1em; }

p  { font-size: 1em;   }

/**************************************************/
/**             Bootstrap override               **/
/**************************************************/

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

/**************************************************/
/**                  Home page                   **/
/**************************************************/

.cover {
    background: white url("images/background.jpg") center center;
}

.home {
    height: 81vh;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

.home > div > div > h1 {
    padding-top: 50px;
    font-size: 4em;
}

.home > div > div > a {
    margin-top: 40px;
    font-size: 1.5em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

/* For large devices */
@media (min-width:1200px) {
    .home > div > div {
        padding-bottom: 50px;
    }
}

/* For smaller devices */
@media (max-width: 767px) {

    .home > div > div {
        padding-bottom: 15px;
    }

    .home > div > div > h1 {
        padding-top: 15px;
        margin-bottom: -5px;
        font-size: 2.5em;
    }

    .home > div > div > a {
        margin-top: 0px;
        font-size: 1em;
    }


}

/**************************************************/
/**              Footer bar style                **/
/**************************************************/

.footer {
    height: 50px;
    padding-top: 15px;
    background-color: #000000;
    font-family: monospace;
    text-align: center;
    color: #ffffff;
    font-size: 1.2em;
}

/**************************************************/
/**                 Other style                  **/
/**************************************************/

.inline-form {
    display: inline;
}

.album-cover {
    width: 25px; 
    height: 25px; 
    float: left; 
    margin-right: 10px;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}
